<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="randomChatterConfig" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <randomChatterConfig PercentChanceOfResponse="100" ResponsesFilePath="Responses.txt">
  </randomChatterConfig>
</configuration>